includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
        - '#Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.#'
        - '#Trait VoxDev\\Core\\Traits\\HasCoreAuth is used zero times and is not analysed\.#'
