includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
        - '#Instanceof between .* and VoxDev\\Core\\Auth\\CoreAuthUser will always evaluate to false\.#'
